/* comman style start */

*{
	box-sizing: border-box;
}

body{
	background: #303030;
	margin: 0;
	font-family: "Oswald", sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul,ol{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	transition: 0.3s
}
h3{
	font-size: 36px;
	line-height: 38px;
	font-family: "Oswald", sans-serif;
}
p{
	font-size: 22px;
	line-height: 24px;
	font-family: "Montserrat", sans-serif;
}
img{
	max-width: 100%;
}
.row{
	max-width: 1300px;
	margin: 0 auto;
}
.container{
	float: left;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
}
.table{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}

/* comman style end */

/*header section style start*/
header{
	padding-top:20px;
	padding-bottom: 20px; 
}

header .logo{
	display: table-cell;
	vertical-align: middle;
	width: 127px;
}

header nav{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

header nav ul{
	list-style: none;
}
header nav ul li{
    display: inline-block;
    margin: 0 27px;
}
header nav ul li a{
    font-size: 25px;
    display: inline-block;
    line-height: 27px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
header nav ul li a:hover{
    color: #e8631c;
}
header .search{
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	width: 30px;
}
/*header section style end*/


/*banner section style start*/

.banner-section{
	background: url(../images/banner.png) no-repeat left top;
	background-size: cover;
	height: 795px;
	padding-bottom: 80px;
}
.banner-section .row{
	height: 100%;
}
.banner-section .table-cell{
	vertical-align: bottom;
}

.banner-content{
	max-width: 610px;
	width: 100%;
}

.banner-content h1{
    color: #fff;
    font-size: 124px;
    line-height: 126px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin-bottom: 35px;
}
.banner-content p{
    color: #fff;
    font-size: 29px;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
}
.banner-content a{
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 29px;
    line-height: 31px;
    display: inline-block;
    text-transform: uppercase;
    max-width: 322px;
    padding: 20px;
    width: 100%;
    background: #e8631c;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 4px;
}
.banner-content a:hover{
    background: #ee864e;
}
/*banner section style end*/




/*---------dance-section---start---*/

.title-row{
	float: left;
	width: 100%;
}
.title-row h2{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 75px;
    line-height: 77px;
    text-transform: uppercase;
}
.title-row p{
    color: #fff;
    font-size: 29px;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 60px;
    max-width: 832px;
    margin: 60px auto 0;
}

.dance-section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #e8631c;
}

.box-section {
    float: left;
    width: 100%;
    margin-top: 80px;
}
.box-section .mrg {
    margin: 0 -32px;
}

.box-section .box {
    float: left;
    width: 33.33%;
    padding: 0 32px;
}

.bx-image {
    float: left;
    width: 100%;
    line-height: 1px;
}
.bx-image img {
    width: 100%;
}

.bx-content {
    float: left;
    width: 100%;
    padding:30px 10px;
    background: #303030;
}

.bx-content h3{
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}
.bx-content p{
	color: #fff;
	margin-top: 15px;
	font-weight: 400;
	line-height: 26px;

}
/*---------dance-section---end---*/


/*-------section-1---start*/
.section-1{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
.max-1{
	float: left;
	width: 100%;
}
.max-1 h2{
	font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 75px;
    line-height: 77px;
    text-transform: uppercase;
}
.max-1 p{
	color: #fff;
    font-size: 29px;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 60px;
    max-width: 832px;
    margin: 60px auto 0;
}
.box-section{
	float: left;
	width: 100%;
	margin-top: 80px;
}
.box-1{
	float: left;
	width: 33.33%;
	padding: 0 30px;
}
.mrg-1{
	margin: 0 -30px;
}
.bg-content{
	float: left;
	width: 100%;
	border-radius: 10px;
	background: #e8631c;
}
.bg-images{
	float: left;
	width: 100%;
	line-height: 1px;
	padding-top: 60px;
}

.bg-content{
	float: left;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 25px;

}
.bg-content h2{
	font-size: 37px;
	line-height: 39px;
	color: #ffffff;
	padding-top: 55px;
	text-transform: uppercase;
}
.bg-content p{
    font-size: 22px;
    line-height: 24px;
	color: #fff;
	padding-top: 32px;
	padding-bottom: 33px;
}
.bg-content a{
	display: inline-block;
    font-family: "Montserrat", sans-serif;
    padding: 20px 100px;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    line-height: 27px;
    background: #303030;
    color: #fff;
    font-weight: 400;
}
.bg-content a:hover{
	background: #ee864e;
	color: #000;
}
/*-------section-1---end*/

/*-------section-2---start*/
.half-section{
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	background: #e8631c;
}
.half-box{
	width: 50%;
}
.half-img{
	line-height: 1px;
	display: none;
}
.half-img img{
	width: 100%;
}
.half-content{
	max-width: 684px;
	width: 100%;
	padding-left: 80px;
	padding-right: 20px;
}
.half-box:first-child{
	height: 960px;
	background: url(../images/image-5.png) no-repeat center center;
	background-size: cover;
}
.half-box:nth-child(4){
	height: 960px;
	background: url(../images/image-6.png) no-repeat center center;
	background-size: cover;
}
.half-box:nth-child(3) .half-content{
	padding-left: 20px;
	padding-right: 80px;
	float: right;
}
.half-content h2{
	font-size: 75px;
	line-height: 77px;
	color: #fff;
	text-transform: uppercase;	
}

.half-box:nth-child(3) .half-content p{
	font-size: 25px;
}

.half-content p{
	font-family: "Montserrat", sans-serif;
	font-size: 29px;
	line-height: 31px;
	color: #fff;
	padding-top: 48px;
	padding-bottom: 60px;
}

.half-content a{
	font-weight: 400;
	padding: 15px 100px;
	text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    line-height: 27px;
    background: #303030;
    color: #fff;
    font-weight: 400;
    display: inline-block;
}

.half-content a:hover{
	background: #ee864e;
	color: #000;
}
/*-------section-3---end*/
/*-------section-4---start*/
.section-4{
	background: #303030;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}
.title-row-4{
	float: left;
	width: 100%;
	padding-bottom: 90px;
}
.title-row-4 h2{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 75px;
    line-height: 77px;
    text-transform: uppercase;
}
.title-row-4 p {
    color: #fff;
    font-size: 29px;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 60px;
    max-width: 832px;
    margin: 60px auto 0;
}
.box-4{
	float: left;
	width: 33.33%;
}
.content-4{
	float: left;
	width: 100%;
	padding-top: 90px;
}
.content-4 h2{
	font-size: 67px;
	line-height: 69px;
	color: #fff;
}
.content-4 p{
	font-size: 42px;
	line-height: 44px;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	padding-top: 30px;	
}
/*-------section-4---end*/
/*-------section-5---start*/
.section-5{
	background: url(../images/image-7.png) no-repeat center;
	background-size: cover;
	float: left;
	height: 960px;
	line-height: 1px;
	position: relative;
	z-index: 1;
}
.section-5:before{
	content: "";
	background: rgba(40, 17, 5, 0.8);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.section-5 .row{
	height: 100%;
}
.content-5{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
	z-index: 2;
} 
.max-content-5{
	float: left;
	width: 100%;
}
.max-content-5 p{
	font-size: 50px;
	line-height: 52px;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	max-width: 1014px;
	margin: 0 auto;
}
.max-content-5 h2{
	font-size: 58px;
	line-height: 60px;
	color: #fff;
	font-weight: 700;
	padding-top: 70px;
	text-transform: uppercase;	
}

/*-------section-5---end*/

/*-------section-6---start*/
.section-6{
	float: left;
	width: 100%;
	background: #e8631c;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}
.content-6{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.max-content-8{
	float: left;
	width: 100%;
}
.max-content-8 h2{
	font-size: 75px;
	line-height: 77px;
	color: #fff;
}
.max-content-8 p{
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	line-height: 32px;
	max-width: 840px;
	margin: 0 auto;
	color: #fff;
	padding-top: 51px;	
	padding-bottom: 40px;
}

.email {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	max-width: 770px;
	margin: 0 auto;
}
.table-cell-1{
	display: table-cell;
	vertical-align: middle;
}
.email input{
	font-size: 25px;
	background: #fff;
	width: 100%;
	height: 60px;
	border: 0;
}
.email input[type="search"]{
	padding-left: 30px;
}
.email input::placeholder{
	font-size: 25px;
}
.email input[type="submit"]{
	background: #303030;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}
.section-6 .email .table-cell-1:last-child{
	width: 200px;
}
.section-6 .email input[type="submit"]:hover{
	background: #ee864e;
	color: #000;
}

/*-------section-6---end*/

/*-------footer----start*/
.footer{
	float: left;
	background: #303030;
	width: 100%;
	padding: 110px 20px;
}
.content-7{
	float: left;
	width: 45.2%;
}
.max-content-7{
	float: left;
	width: 100%;
}
.max-content-7 h2{
	font-size: 33px;
	line-height: 35px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.max-content-7 p{
	font-size: 25px;
	line-height: 27px;
	max-width: 490px;
	color: #fff;
	font-family: "Montserrat", sans-serif;
}
.icon-7 {
    padding-top: 30px;
}
.icon-7 a{
	padding: 5px;
}

.content-ul{
	float: right;
	width: 54.8%;
}
.content-li{
	float: left;
	padding: 0 20px;
}
.content-li ul{
	list-style: none;
}
.content-li h2{
	font-size: 33px;
	color: #fff;
	font-weight: 400;
	padding-bottom: 30px;
	text-transform: uppercase;
}
.content-li li{
	padding-bottom: 15px;	
}
.content-li li a{
	color: #fff;
	font-size: 25px;
	font-family: "Montserrat", sans-serif;
}
.content-li li a:hover{
	color: #e8631c;
}


/*-------footer----end*/





/* responsive style start */

@media(max-width: 1200px){
.box-section .box{
	padding: 0 15px;
}
.box-section .mrg {
    margin: 0 -15px;
}
.box-section .box-1{
	padding: 0 15px;
}
.box-section .mrg-1{
	margin: 0 -15px;
}


.bg-images {
    padding-top: 30px;
}
.bg-content {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.bg-content h2 {
    padding-top: 20px;
}
.bg-content p {
	font-size: 17px;
    padding-top: 17px;
    padding-bottom: 31px;
}
.bg-content a {
    padding: 20px 50px;
}



.title-row-4 {
    padding-bottom: 50px;
}
.content-4 {
    padding-top: 50px;
}
.max-content-5 p {
    font-size: 37px;
}
.max-content-5 h2 {
    padding-top: 60px;
}
.max-content-7 h2 {
    font-size: 30px;
}
.max-content-7 p {
    font-size: 20px;
}
.content-li {
    padding: 0px 17px;
}
.content-li h2 {
    font-size: 30px;
}
.content-li li {
    padding-bottom: 12px;
}
.content-li li a {
    font-size: 17px;
}

.half-content {
    padding-left: 70px;
}
.half-content h2 {
    font-size: 55px;
}
.half-content p {
    font-size: 21px;
    padding-top: 25px;
    padding-bottom: 50px;
}
.half-box:nth-child(3) .half-content h2{
    font-size: 55px;
}
.half-box:nth-child(3) .half-content p{
    font-size: 21px;
    padding-top: 25px;
    padding-bottom: 50px;
}




.section-1 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-4 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-6 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer {
	padding-top: 40px;
	padding-bottom: 40px;
}
}


@media(max-width: 1023px){
.dance-section{
	padding-top: 60px;
	padding-bottom: 60px;
}
.title-row p, .box-section{
	margin-top: 40px;
}
.content-section-4 {
    padding-left: 50px;
}
.content-4 h2 {
    font-size: 62px;
}
.content-4 p {
    font-size: 38px;
    padding-top: 20px;
}
.half-content{
/*	padding: 20px 30px;*/
}
.half-box:nth-child(3) ..half-content{
/*	padding: 20px 30px;*/
}
.half-box:first-child, .half-box:last-child{
	background: no-repeat;
	height: auto;
}
.half-img{
	display: block;
}
}

@media(max-width: 979px){

header nav ul li{
	margin: 0 15px;
}

.content-section-4 {
    padding-left: 50px;
}
.section-4 .box-4 {
    width: 100%;
    padding-bottom: 20px;
}
.section-4 .box-4 .content-4 {
    padding-top: 20px;
}
.content-7 {
    width: 100%;
    text-align: center;
}
.max-content-7 h2 {
    font-size: 40px;
}
.max-content-7 p {
    margin: 0 auto;
}

.content-ul {
    width: 100%;
}
.content-li {
    width: 100%;
    text-align: center;
}
.content-li h2 {
    padding-top: 40px;
    font-size:  40px;
}
.content-li li a {
    font-size: 25px;
}
.content-4 h2 {
    font-size: 50px;
}
.content-4 p {
	font-size: 30px;
    padding-top: 10px;
}
.section-5 {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.max-content-5 h2 {
    padding-top: 30px;
}
.max-content-5 p {
    font-size: 30px;
}



.max-content-8 h2 {
    font-size: 55px;
}
.max-content-8 p {
    font-size: 21px;
    padding-top: 25px;
    padding-bottom: 30px;
}




}

@media (max-width: 767px){

header nav,header .search{
	display: none;
}
header{
	text-align: center;
}




.banner-section{
	height:auto;
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
	background-position: right center;
}
.banner-content{
	margin: 0 auto;
}
.banner-content h1{
	font-size: 50px;
	line-height: 52px;
	margin-bottom: 10px;
}
.banner-content p, .banner-content a{
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 16px;
}
.banner-content a{
	max-width: 170px;
	padding: 10px;	
}
.banner-section .table-cell{
	vertical-align: middle;
}





.title-row h2{
	font-size: 45px;
	line-height: 47px;
}
.title-row p{
	font-size: 14px;
	line-height: 16px;
	margin-top: 10px;
}
.box-section .box:first-child{
	margin-top: 0;
}
.box-section .box{
	width: 100%;
	margin-top: 20px;
}
.dance-section{
	padding-top: 40px;
	padding-bottom: 40px;
}
.bx-content {
    padding: 10px 5px;
}
.bx-content h3 {
    font-size: 25px;
    line-height: 27px;
}
.bx-content p {
    font-size: 14px;
    margin-top: 5px;
    line-height: 16px;
}



.max-1 h2 {
    font-size: 45px;
    line-height: 57px;
}
.max-1 p {
    font-size: 14px;
    line-height: 16px;
    margin: 10px auto 0;
}

.section-1 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.bg-images {
    padding-top: 30px;
}
.bg-content {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.bg-content h2 {
	font-size: 25px;
	line-height: 27px;
    padding-top: 10px;
}
.bg-content p {
    padding-top: 10px;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 15px;
}
.bg-content a {
	font-size: 14px;
	line-height: 16px;
    padding: 15px 45px;
}
.box-section .box-1{
	width: 100%;
	margin-top: 20px;
}
.box-section .box-1:first-child{
	margin-top: 0;
}
.section-1 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-4 {
    padding-top: 40px;
    padding-bottom: 40px;
}


.half-box{
	width: 100%;
}
.half-box:nth-child(3){
	order: 4;
}	
.half-content {
    max-width: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.half-content h2 {
    font-size: 30px;
    line-height: 27px;
}
.half-content p {
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
}
.half-content a {
    padding: 13px 45px;
    font-size: 14px;
    line-height: 16px;
}
.half-box:nth-child(3) .half-content {
padding: 20px;

}
.half-box:nth-child(3) .half-content h2{
	font-size: 30px;
    line-height: 27px;
}
.half-box:nth-child(3) .half-content p{
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
}




.title-row-4 {
    padding-bottom: 30px;
}
.title-row-4 h2 {
    font-size: 25px;
    line-height: 27px;
}
.title-row-4 p {
    font-size: 14px;
    line-height: 16px;
    margin: 10px auto 0;
}


.section-4 .box-4 {
    width: 100%;
    padding-bottom: 10px;
}
.content-4 h2 {
    font-size: 30px;
    line-height: 32px;
}
.content-4 p {
    font-size: 15px;
    line-height: 17px;
    padding-top: 5px;
}

.max-content-5 p {
    font-size: 14px;
    line-height: 16px;
}
.max-content-5 h2 {
    font-size: 25px;
    line-height: 27px;
    padding-top: 10px;
}
.max-content-8 p {
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.max-content-8 h2 {
    font-size: 25px;
    line-height: 27px;
}
.email input[type="search"] {
    padding-left: 10px;
}
.email input {
    font-size: 14px;
    line-height: 16px;
    height: 40px;
}
.section-6 .email .table-cell-1:last-child {
    width: 100px;
}
.email input[type="submit"] {
    font-size: 14px;
    line-height: 16px;
}
.email input[type="search"]::placeholder{
	font-size: 14px;
	line-height: 16px;
}



.footer {
	padding-top: 40px;
	padding-bottom: 40px;
}
.max-content-7 h2 {
    font-size: 25px;
    line-height: 27px;
    padding-bottom: 20px;	
}
.max-content-7 p {
    font-size: 14px;
    line-height: 16px;
}
.icon-7 {
    padding-top: 20px;
}
.icon-7 a {
    display: inline-block;
    width: 50px;
}
.content-li h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 27px;
}
.content-li li {
    padding-bottom: 5px;
}
.content-li li a {
    font-size: 14px;
    line-height: 16px;
}
}

@media(max-width: 639px){


}


@media(max-width: 479px){

}

/* responsive style end/*